* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  background-color: darkblue;
  width: 100%;
  height: 90px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  font-size: 20;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 300;
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
.menu li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

}

.menu li a:hover {
  color: lightgray;
  background-color: blue;
}
.menu li {
  list-style: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}






.main{

  height: 500px;
  width: 100%;
  gap: 50px;
  display: flex;
  margin: 0px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.main .text_div, .main .image_div {
  flex: 1;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  transform: scale(1.02);
}

.main .text_div:hover, .main .image_div:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}



body {
  background-color: white;
  margin: 0;
  padding: 0;   
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: blue;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.image_div {
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightblue ;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  margin: auto;

}



.image_div img {
  height: 500px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image_div img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}



.text_div {
  height: 500px;
  width: 600px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
  border: 2px solid lightblue ;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin: auto;
   
}

.text_div h1 {
  font-size: 40px;;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: darkblue;
}
.text_div p {
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 18px;
  color: gray;
}

.text_div:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  transform: scale(1.02);
}
.text_div a {
  color: blue;
  text-decoration: none;
}

.text_div a:hover {
  text-decoration: underline;
  color: darkblue;
}

.text_div button{
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.text_div button:hover {
  color: lightgray;

}

.service{
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.heading-1{
  color: white;
  padding: 20px;
  text-align: center;
  background-color: darkblue;
  font-size: 40px;
  margin-bottom: 20px;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}
.heading-1:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  transform: scale(1.02);
}



.boxes{
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  height: auto;
  gap: 40px;
  margin: auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 20px; 
}



.box{
  
        gap: 10px;
        width: 300px;
        height: 300px;
        border: 2px solid lightblue;
        padding: 10px; 
        margin: 10px;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        justify-content: center;
        text-align: center;
}



.box p{
  font-style: italic;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 18px;
  color: gray;
  
}


.box h2{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
}





.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  height: auto;
  gap: 40px;
  margin: auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 20px;
}



 
.card{    
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 2px solid lightblue;
      padding: 10px; 
      margin: 10px;
      border-radius: 10px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 300px;
      height: 450px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.card p{
  font-style: italic;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 18px;
  color: gray;
  
}
.card h2{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
}
.card a {
  color: white;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
  color: darkblue;
}

.card button{
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.card button:hover {
  color: lightgray;
}
.contact_section{
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
}
.contact_section h1{
  font-size: 40px;;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: darkblue;
}
.contact_container{
  width: 100%;
  height: 500px;
  Padding: 20px;
  display: flex;
  gap: 20px;
}
.contact_img {
  height: 400px;
  width: 50%;
  border: 2px solid lightblue ;
}
.contact_form{
  border: 2px solid yellow;
  height: 400px;
  width: 50%;
}
.contact_img img {
  height: 100%;   
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  object-fit: cover;
}
.form form input, textarea{
  width: 90%;
  padding: 10px;
  margin: 10px; 
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}
.form form input:focus, textarea:focus{
  outline: none;

}
.form form button{
  
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.form form button:hover {
  color: lightgray;
} 

















footer {
  background-color: darkblue;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: white;
  justify-content: space-around;
  padding: 20px 40px;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.footer_heading{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

















































/* .contact_container{
  border: 2px solid red ;
  width: 100%;
  height: 500px;
  Padding: 20px;
  display: flex;
  gap: 20px;
}


.contact_img {
  height: 400px;
  width: 50%;
  border: 2px solid lightblue ;
}

.contact_form{
  border: 2px solid yellow;
  height: 400px;
  width: 50%;
}

.contact_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  object-fit: cover;
}

.form form input, textarea{
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
} */





















/* .contact_section{
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
} */




















































































/* 
.footer {
  background-color: gray;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.footer p {
  margin: 0;
}
.footer a {
  color: black;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
} */
